
.todo_signup_app-username {
    color: #4e4e4e;
    padding: 5px;
    font-size: 25px;
    width: 100%;
}


.todo_signup_app-password {
    color: #4e4e4e;
    padding: 5px;
    font-size: 25px;
    width: 100%;
}